<header style="display: flex; justify-content: center; width: 100%">
    <div style="
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-width: 50%;
            background: lightblue">
        <div style="font-size: 3rem"><a href="{{  path('app_homepage') }}">LOGO</a></div>
        <div style="font-size: 1.5rem">
            <ul style="display: flex; list-style: none">
                <li style="margin:1rem"><a href="{{  path('app_le_restaurant') }}">LE RESTAURANT</a></li>
                <li style="margin:1rem"><a href="{{  path('app_la_carte') }}">LA CARTE</a></li>
                <li style="margin:1rem"><a href="{{  path('app_reservation') }}">RESERVATION</a></li>
                <li style="margin:1rem"><a href="{{  path('app_login') }}">CONNEXION</a></li>
                <li style="margin:1rem"><a href="{{  path('app_register') }}">CREER UN COMPTE</a></li>
            </ul>
        </div>
    </div>
</header>