{% extends 'base.html.twig' %}

{% block title %}Préférences client{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <form name="{{ field_name(preferences) }}" method="post"  data-controller="client-preferences">
                <h1 class="text-center my-3 h3">Préférences</h1>
                <div class="my-4">
                    <h2 class="h4">Mes identifiants</h2>
                    <div class="my-3">
                        {{ form_label(preferences.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(preferences.email, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(preferences.newPassword, 'Nouveau mot de passe',{
                                'label_attr' : {'class': 'form-label'}
                            }) }}
                            {{ form_widget(preferences.newPassword, {
                                'attr': {
                                    'data-action': 'keyup->client-preferences#passwordValidation',
                                    'class': 'form-control'
                                }})}}
                            <div id="password_errors" class="form-text ms-2"></div>
                        </div>
                        <div class="col">
                            {{ form_label(preferences.newPasswordConfirmation, 'Confirmer le mot de passe', {
                                'label_attr' : {'class': 'form-label'}
                            }) }}
                            {{ form_widget(preferences.newPasswordConfirmation, {
                                'attr': {
                                    'data-action' : 'keyup->client-preferences#passwordCheck',
                                    'class': 'form-control',
                            }}) }}
                            <div id="password_confirmation_errors" class="form-text ms-2"></div>
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    <h2 class="h4">Mes préférences</h2>
                    <div class="my-3">
                        <label for="preferences_default_seats_number">Nombre de convives par défaut</label>
                        <select id="preferences_default_seats_number"
                                name="{{ field_name(preferences.defaultSeatsNumber) }}"
                                class="form-select">
                            {% for choice in preferences.defaultSeatsNumber.vars.choices %}
                                <option
                                        value="{{ choice.value }}"
                                        {{ choice.value == preferences.defaultSeatsNumber.vars.data ? 'selected' : '' }}
                                >{{ choice.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="my-3">
                        {{ form_label(preferences.allergens, 'Allergies', {
                            'label_attr' : {'class': 'form-label'}
                        }) }}
                        {{ form_widget(preferences.allergens, {'attr': {'class': 'form-control'}})}}
                    </div>
                    {{ form_row(preferences._token)}}
                    <div class="d-flex justify-content-center">
                        {{ form_row(preferences.submit, {
                            'label': 'Enregister',
                            'attr': {'class': 'btn btn-secondary my-3'}}) }}
                    </div>
                </div>
            </form>
        </div>
        <div class="my-4">
            <h2 class="h4">Mes réservations</h2>
            <div>
                <ul class="list-group list-group-flush" data-controller="reservation-cancel">
                    {% for item in reservations %}
                    <li id="reservation_{{ item.getId }}" class="list-group-item">
                        <p class="mb-0">Pour {{ item.getSeatsNumber }} convives le {{ item.getLocaleDate }} à {{ item.getTime|date('H:i') }}
                            <a role=button data-bs-toggle="collapse" href="#confirmation_cancel_{{ loop.index }}" aria-expanded="false" aria-controls="confirmation_cancel_{{ loop.index }}">
                                <i class="bi bi-x-lg float-end"></i>
                            </a>
                        </p>
                        <div id="confirmation_cancel_{{ loop.index }}" class="collapse">
                            <div class="card card-body text-end d-inline-flex float-end">
                                <div class="card-title">Êtes-vous sûr.e de vouloir annuler cette réservation ?</div>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-secondary mx-2 px-3"
                                            data-action="click->reservation-cancel#cancelReservation"
                                            data-reservation-id="{{ item.getId }}"
                                            >Oui</button>
                                    <button type="button" class="btn btn-danger px-3"
                                            data-bs-toggle="collapse" data-bs-target="#confirmation_cancel_{{ loop.index }}"
                                            aria-expanded="false" aria-controls="confirmation_cancel_{{ loop.index }}">Non</button>
                                </div>
                                <div class="cancellation-error text-start text-danger fs-6 mt-2"></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
