{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row">
        <h1 class="text-center text-bronze my-3">RÉSERVATION</h1>
        <p class="w-75 mx-auto">Merci d'avance de préciser en commentaire le nombre d'enfants présent à table (s'il y en a).
        Pour tout retard de plus de 20 minutes, votre table sera donnée à un autre client !</p>
        <form id="reservation_form" name="{{ field_name(reservation) }}" method="post"  data-controller="time-slot">
            <div id="reservation_seats_day_selection" class="row row-cols-1 row-cols-lg-2 my-3">
                <div class="col py-3">
                    <select id="reservation_seats_number"
                            name="{{ field_name(reservation.seats_number) }}"
                            data-action="change->time-slot#updateTimeSlots"
                            class="form-select">
                        {% for choice in reservation.seats_number.vars.choices %}
                            <option
                                    value="{{ choice.value }}"
                                    {{ choice.value == reservation.seats_number.vars.data ? 'selected' : ''}}
                            >{{ choice.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    {{ form_row(reservation.day, {
                        'attr': {
                            'data-action': 'change->time-slot#updateTimeSlots',
                            'class':'form-control',
                        }}) }}
                </div>
            </div>
            <div id="reservation_time_slots" class="row my-3">
                {% if reservation.date.date.children is empty %}
                    <p class="h5 text-bronze text-center mt-5">Pas de créneaux disponibles</p>
                {% else %}
                    {% for key, item in reservation.date.date.children %}
                        <div class=" col-3 col-md-2 col-lg-1">
                            <input
                                    type="radio"
                                    name="{{ item.vars.full_name }}"
                                    id="{{ item.vars.id }}"
                                    required="required"
                                    class="btn-check"
                                    data-action="click->time-slot#revealClientInfoPart"
                                    value="{{ item.vars.value }}" >
                            <label  for="{{ item.vars.id }}"
                                    class="btn bg-bronze text-light px-4 py-2 m-1">
                                {{ item.vars.label }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="reservation_date_recap" style="display: none">
                <div class="my-3 px-3 pt-2 pb-1
                            rounded bg-bronze text-light
                            d-flex justify-content-between align-items-center">
                    <span id="reservation_date_recap_text"></span>
                    <i class="bi bi-calendar-x fs-4"
                       data-action="click->time-slot#revertHiding">
                    </i>
                </div>
            </div>
            <div id="reservation_client_info" style="display: none">
                <div class="my-3">
                    {{ form_label(reservation.email) }}
                    {{ form_widget(reservation.email, {'attr': {'class': 'form-control'}})}}
                </div>
                <div class="my-3">
                    {{ form_label(reservation.allergens, 'Allergènes') }}
                    {{ form_widget(reservation.allergens, {'attr': {'class': 'form-control'}})}}
                </div>
                <div class="my-3">
                    {{ form_label(reservation.comment, 'Commentaires') }}
                    {{ form_widget(reservation.comment, {'attr': {'class': 'form-control'}})}}
                </div>
                {{ form_row(reservation._token)}}
                <div class="d-flex justify-content-center">
                {{ form_row(reservation.submit, {'attr': {'class': 'btn bg-bronze text-light my-3'}}) }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
