{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<div class="">
    <h1>Réservation</h1>
    <div data-controller="time-slot">
    <h4>>Nouvelle réservation : </h4>
        {{ form_start(reservation) }}
            {{ form_label(reservation.seats_number) }}
            <span data-action="change->time-slot#updateTimeSlots">{{ form_widget(reservation.seats_number) }}</span>
            {{ form_label(reservation.day) }}
                <span ><span data-action="change->time-slot#updateTimeSlots" >{{ form_widget(reservation.day) }}</span></span>
            {{ form_rest(reservation) }}
        {{ form_end(reservation) }}
    </div>
    {#
    <div>
        {% for item in day %}
            <div>
                {% for i in item %}
                    {{ i|date('H:i') }} -
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    #}
</div>
{% endblock %}
