{% extends 'base.html.twig' %}

{% block title %}Modifier la galerie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('image_edition') }}
{% endblock %}

{% block sidebar %}
    {% include('fragments/layout/_admin_sidebar.html.twig')%}
{% endblock %}

{% block body %}
    <div class="container py-5 ps-5">
        <h1 class="text-center text-bronze">MODIFIER LA GALERIE</h1>
        <section id="images" class="p-2 m-3 bg-light">
            <h2>Toutes les images</h2>
            <div class="row">
                <div class="col-auto d-flex justify-content-center align-items-center my-3">
                    <div class="card">
                        <div class="card-body text-center">
                        {# Le wrapper contenant le formulaire créé par l'appel Ajax #}
                        <div id="image_form_0" class=" bg-light p-3">
                            <h3>Ajouter une image</h3>
                            <div class="text-center"
                                 data-controller="image-edition"
                                 data-action="click->image-edition#getForm">
                                <i id="plus_icon" class="bi bi-plus-circle fs-1"></i>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
                {% for image in allImages %}
                    <div class="col-auto d-flex justify-content-center align-items-center my-3"
                         data-controller="image-edition"
                         data-image-edition-id-value="{{ image.getId }}">
                        <div class="card">
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter(('thumb_200')) }}"
                                 alt="..."
                                 class="card-img-top bottom-border-radius"
                                 data-action="click->image-edition#getForm">
                            {# Le wrapper contenant le formulaire créé par l'appel Ajax #}
                            <div id="image_form_{{ image.getId }}" class="card-body"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}