{% extends 'base.html.twig' %}

{% block title %}La carte{% endblock %}
{% block name %}"La carte"{% endblock %}
{% block contentDescription %}Détail de la carte du restaurant{% endblock %}

{% block body %}
    <div class="container">
        <div class="my-5">
            <h1 class="text-center text-bronze mb-5">La Carte</h1>
            {% for category in categories %}
                <div class="p-3 pb-5 {% if loop.index is not divisible by(2)%} bg-light {% endif%}  ">
                <h2 class="text-bronze mt-5 mb-3">{{ category.getTitle }}</h2>
                {% for dish in dishes %}
                    {% if dish.getCategory.getTitle == category.getTitle %}
                        <div class="row px-2 m-1 ms-2 ">
                            <div class="col">
                            <h3 class="h5 mt-3">{{ dish.getTitle }}</h3>
                                <em>{{ dish.getDescription }}</em>
                                <p class="text-secondary"><small>
                                    {% for allergen in dish.getAllergens %}
                                        {{ allergen.getTitle }}
                                    {% endfor %}
                                </small></p>
                            </div>
                            <div class="col-auto text-bronze fs-4 text-end py-3 pe-3">
                                <strong class="">{{ dish.getPrice }}€</strong>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
