<header id="header" class="" >
    <nav class="navbar navbar-expand-lg navbar-bg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_homepage') }}">Quai Antique</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="bi bi-list text-beige fs-1"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ">
                    <li class="nav-item"><a class="nav-link" href="{{  path('app_le_restaurant') }}">LE RESTAURANT</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            MENUS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_menus_la_carte') }}">La Carte</a></li>
                            {{ render(path('app_menus_items')) }}
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{  path('app_reservation') }}">RÉSERVATION</a></li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item"><a class="nav-link" href="{{  path('app_logout') }}">DÉCONNEXION</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{  path('app_login') }}">CONNEXION</a></li>
                    {% endif %}
                    {% if not app.user %}
                        <li class="nav-item"><a class="nav-link" href="{{  path('app_register') }}">CRÉER UN COMPTE</a></li>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ADMINISTRATION
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('app_administration_modifier_galerie') }}">Modifier galerie</a></li>
                                <li><a class="dropdown-item" href="{{path('app_administration_publier_menus')}}">Publier les menus</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_administration_business_hours_update') }}">Éditer les horaires</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_administration_admin') }}">Préférences Admin</a></li>
                            </ul>
                        </li>
                    {% elseif is_granted('ROLE_CLIENT') %}
                        <li class="nav-item"><a class="nav-link" href="{{  path('app_client_preferences') }}">PRÉFÉRENCES</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>