{% extends 'base.html.twig' %}

{% block title %}Éditer les plats{% endblock %}

{% block body %}
<div id="dashboardWrapper" class="w-100 h-100 d-flex">
    {{ include('fragments/layout/_admin_sidebar.html.twig')}}
    <div class="container">
        <section id="plats" class="p-2 m-3 bg-light">
            <div data-controller="dish-edition category-edition allergen-edition">
                <div class="d-flex">
                    <h2 class="">Plats</h2>
                    <div class="col-auto d-flex justify-content-end align-items-center ms-3 me-2"
                         data-action="click->dish-edition#getForm">
                        <button type="button" class="btn btn-secondary btn-sm text-light">
                            <i class="bi bi-plus-lg"></i> Ajouter un plat
                        </button>
                    </div>
                    <div class="col-auto d-flex justify-content-end align-items-center mx-2"
                         data-action="click->category-edition#getForm">
                        <button type="button" class="btn btn-secondary btn-sm text-light">
                            <i class="bi bi-plus-lg"></i> Ajouter une catégorie
                        </button>
                    </div>
                </div>
                <div id="edit_dish_form_wrapper_0"></div>
                <div id="edit_category_form_wrapper_0"></div>
            </div>
            <div class="">
                {# On liste les catégories #}
                <ul id="categories" class="list-group">
                    {% for category in allCategories %}
                        {% set categoryId = category.getId %}
                        <li class="list-group-item"
                            data-controller="category-edition"
                            data-category-edition-id-value=" {{ categoryId }} ">
                            <div class="d-flex">
                                <h2 class="me-3">{{ category.getTitle }}</h2>
                                <div class="col-auto d-flex justify-content-end align-items-center"
                                     data-action="click->category-edition#getForm"   >
                                    <button type="button" class="btn btn-secondary btn-sm text-light">Éditer</button>
                                </div>
                            </div>
                            <div id="edit_category_form_wrapper_{{ categoryId }}"></div>
                            {# On liste les plats #}
                            <ul class="list-group>">
                                {% for dish in allDishes %}
                                    {% if dish.getCategory.getTitle == category.getTitle %}
                                        {% set dishId = dish.getId %}
                                        <li class="list-group-item"
                                            data-controller="dish-edition"
                                            data-dish-edition-id-value="{{ dishId }}">
                                            <div class="row">
                                                <div class="col d-flex px-2 m-1 bg-light">
                                                    <div class="">
                                                        <h3 class="h4 mb-1">{{ dish.getTitle }}</h3>
                                                        <div><em>{{ dish.getDescription }}</em></div>
                                                        <div class="text-secondary"><small>
                                                                {% for allergen in dish.getAllergens %}
                                                                    {{ allergen.getTitle }}
                                                                {% endfor %}
                                                         </small></div>
                                                    </div>
                                                    <div class="w-100 text-secondary fs-4 text-end pe-3">
                                                        <strong>{{ dish.getPrice }}€</strong>
                                                    </div>
                                                </div>
                                                <div class="col-auto d-flex justify-content-end align-items-center"
                                                     data-action="click->dish-edition#getForm"   >
                                                    <button type="button" class="btn btn-secondary btn-sm text-light">Éditer</button>
                                                </div>
                                            </div>
                                            <div id="edit_dish_form_wrapper_{{ dishId }}"></div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section id="menus" class="p-2 m-3 bg-light">
            <div data-controller="menu-edition">
                <div class="d-flex flex-wrap">
                    <h2 class="">Menus</h2>
                    <div class="d-flex align-items-center mx-3"
                         data-action="click->menu-edition#getForm"   >
                        <button type="button" class="btn btn-secondary btn-sm text-light">
                            <i class="bi bi-plus-lg"></i> Ajouter un menu
                        </button>
                    </div>
                    <div class="form-text ms-md-auto">Cliquez sur une formule pour l'éditer ou la supprimer</div>
                </div>
                <div id="edit_menu_form_wrapper_0"></div>
            </div>
            <div>
                {# On liste les menus #}
                <ul class="list-group">
                    {% for menu in allMenus %}
                        {% set menuId = menu.getId %}
                        <li id="menu_{{ menuId }}"
                            class="list-group-item"
                            data-controller="menu-edition"
                            data-menu-edition-id-value="{{ menuId }}">
                            <div class="row">
                                <div class="col">
                                    <h3 class="h4">{{ menu.getTitle }}</h3>
                                </div>
                                <div class="col">
                                    {# On liste les formules #}
                                    <ul class="list-group">
                                    {% for formula in menu.getFormula %}
                                        {% set formulaId = formula.getId %}
                                        <li class="list-group-item"
                                            data-controller="formula-edition"
                                            data-formula-edition-id-value="{{ formulaId }}"
                                            data-formula-edition-menuid-value="{{ menuId }}"
                                            data-action="click->formula-edition#getForm"   >
                                            <div class="row">
                                                <div class="col">{{ formula.getTitle }}  {{ formula.getPrice }}€</div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                    <div id="edit_form_wrapper_{{ menuId }}_formula"></div>
                                    <div class="col d-flex align-items-center justify-content-center my-2"
                                         data-controller="formula-edition"
                                         data-formula-edition-menuId-value="{{ menuId }}">
                                        <button type="button"
                                                class="btn btn-secondary btn-sm text-light"
                                                data-action="click->formula-edition#getForm" >
                                            <i class="bi bi-plus-lg"></i> Ajouter une formule</button>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-end align-items-center"
                                     data-action="click->menu-edition#getForm"   >
                                    <button type="button" class="btn btn-secondary btn-sm text-light">Éditer</button>
                                </div>
                            </div>
                            <div id="edit_menu_form_wrapper_{{ menuId }}"></div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section id=allergenes class="p-2 m-3 bg-light">
            <div>
                <div class="d-flex flex-wrap">
                    <h2>Allergènes</h2>
                    <div class="d-flex align-items-center mx-2"
                         data-controller="allergen-edition"
                         data-action="click->allergen-edition#getForm">
                        <button type="button" class="btn btn-secondary btn-sm text-light">
                            <i class="bi bi-plus-lg"></i> Ajouter un allergène
                        </button>
                    </div>
                    <div class="form-text ms-md-auto">Cliquez sur un allergène pour l'éditer ou le supprimer</div>
                </div>
                <div id="edit_allergen_form_wrapper"></div>
            </div>
            <div>
                {# On liste les allergènes #}
                <ul class="list-group list-group-horizontal-md d-flex flex-wrap">
                    {% for allergen in allAllergens %}
                        {% set allergenId = allergen.getId %}
                        <li class="list-group-item m-1 border-start"
                            data-controller="allergen-edition"
                            data-allergen-edition-id-value="{{ allergenId }}"
                            data-action="click->allergen-edition#getForm">
                            <div class="col">{{ allergen.getTitle }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</div>
{% endblock %}