<form
    name="{{ editAllergenForm.vars.full_name }}"
    action="{{ editAllergenForm.vars.action }}"
    method="{{ editAllergenForm.vars.method }}">
    <div class="card m-3">
        <div class="card-header d-flex justify-content-between">
            <h4 class="card-title">{{ editAllergenForm.title.vars.data == "" ? 'Ajouter un allergène' : 'Éditer '}}{{ editAllergenForm.title.vars.data }}</h4>
            <button type="button"
                    class="btn-close"
                    data-controller="close-form"
                    data-action="click->close-form#closeForm"
                    aria-label="Close"></button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    {{ form_row(editAllergenForm.title, {
                        'attr': {'class': 'form-control'},
                        'label': 'Titre'
                    }) }}
                </div>
                <div class="col">
                    {{ form_row(editAllergenForm.dishes, {
                        'attr': {'class': 'form-control'},
                        'label': 'Ajouter à un plat',
                    }) }}
                </div>
                <div class="col-12 col-lg-auto d-flex flex-column justify-content-center align-items-center">
                    {{ form_widget(editAllergenForm.submit, {'attr': {'class': 'btn btn-secondary my-3'}}) }}
                    {% if editAllergenForm.vars.data.id is defined %}
                    <button type="button"
                            class="btn btn-danger ms-2 my-3"
                            data-controller="allergen-edition"
                            data-allergen-edition-id-value="{{ editAllergenForm.vars.data.id }}"
                            data-action="click->allergen-edition#removeAllergen"
                    >Supprimer</button>
                    {% endif %}
                </div>
            </div>
            {{ form_row(editAllergenForm._token)}}
        </div>
    </div>
</form>