<form
        class="d-flex"
        name="{{ editCategoryForm.vars.full_name }}"
        action="{{ editCategoryForm.vars.action }}"
        method="{{ editCategoryForm.vars.method }}">
    <div class="card m-3">
        <div class="card-header d-flex justify-content-between">
            <h4 class="card-title">{{ editCategoryForm.title.vars.data == "" ? 'Ajouter une catégorie' : 'Éditer ' }}{{ editCategoryForm.title.vars.data }}</h4>
            <button type="button"
                    class="btn-close"
                    data-controller="close-form"
                    data-action="click->close-form#closeForm"
                    aria-label="Close"></button>
        </div>
        <div class="card-body">
            {{ form_label(editCategoryForm.title, 'Titre', { 'attr': {'class': 'form-label'}}) }}
            <div class="row row-cols-1 row-cols-md-auto">
                <div class="col d-flex">
                    {{ form_widget(editCategoryForm.title, {
                        'attr': {'class': 'form-control'},
                    }) }}
                </div>
                <div class="col d-flex justify-content-end">
                    {{ form_widget(editCategoryForm.submit, {'attr': {'class': 'btn btn-secondary my-3 my-md-0'}}) }}
                    {% if editCategoryForm.vars.data.id is defined %}
                    <button type="button"
                            class="btn btn-danger ms-2 my-3 my-md-0"
                            data-controller="category-edition"
                            data-category-edition-id-value="{{ editCategoryForm.vars.data.id}}"
                            data-action="click->category-edition#removeCategory"
                    >Supprimer</button>
                    {% endif %}
                </div>
            </div>
            {{ form_row(editCategoryForm._token)}}
        </div>
    </div>
</form>