<form
        name="{{ editFormulaForm.vars.full_name }}"
        action="{{ editFormulaForm.vars.action }}"
        method="{{ editFormulaForm.vars.method }}">
    <div class="card m-3">
        <div class="card-header d-flex justify-content-between">
            <h4 class="card-title">{{ editFormulaForm.title.vars.data == "" ? 'Ajouter une formule' : 'Éditer '}}{{ editFormulaForm.title.vars.data }}</h4>
            <button type="button"
                    class="btn-close"
                    data-controller="close-form"
                    data-action="click->close-form#closeForm"
                    aria-label="Close"></button>
        </div>
        <div class="card-body">
            <div class="d-flex flex-column">
                <div class="py-2">
                    {{ form_row(editFormulaForm.title, {
                        'attr': {'class': 'form-control'},
                        'label': 'Titre'
                    }) }}
                </div>
                <div class="py-2">
                    {{ form_row(editFormulaForm.description, {
                        'attr': {'class': 'form-control'},
                    }) }}
                </div>
                <div class="py-2">
                    {{ form_row(editFormulaForm.temporality, {
                        'attr': {'class': 'form-control'},
                        'label': 'Temporalité'
                    }) }}
                </div>
                <div class="py-2">
                    {{ form_row(editFormulaForm.price, {
                        'attr': {
                            'class': 'form-control',
                            'max-length': 8,
                        },
                        'label': 'Prix',
                    }) }}
                </div>
            </div>
            <div class=" d-flex justify-content-center"
                 data-controller="formula-edition"
                 data-formula-edition-id-value="{{ editFormulaForm.vars.data.id ?? 0 }}"
                 data-formula-edition-menuid-value="{{ menuId }}" >
                {{ form_widget(editFormulaForm.submit, {'attr': {'class': 'btn btn-secondary my-3'}}) }}
                {% if editFormulaForm.vars.data.id is defined %}
                <button type="button"
                        class="btn btn-danger ms-1 my-3"
                        data-action="click->formula-edition#removeFormula"
                >Supprimer</button>
                {% endif %}
            </div>
            {{ form_row(editFormulaForm._token)}}
        </div>
    </div>
</form>