<form
        name="{{ editMenuForm.vars.full_name }}"
        action="{{ editMenuForm.vars.action }}"
        method="{{ editMenuForm.vars.method }}">
    <div class="card m-3">
        <div class="card-header d-flex justify-content-between">
            <h4 class="card-title">{{ editMenuForm.title.vars.data == "" ? 'Ajouter un menu' : 'Editer ' }}{{ editMenuForm.title.vars.data }}</h4>
            <button type="button"
                    class="btn-close"
                    data-controller="close-form"
                    data-action="click->close-form#closeForm"
                    aria-label="Close"></button>
        </div>
        <div class="card-body">
            <div class="d-flex flex-column">
                <div class="py-2">
                    {{ form_row(editMenuForm.title, {
                        'attr': {'class': 'form-control'},
                        'label': 'Titre'
                    }) }}
                </div>
                <div class="py-2">
                    {{ form_row(editMenuForm.dishes, {
                        'attr': {'class': 'form-control'},
                        'label': 'Plats'
                    }) }}
                </div>                
            </div>
            <div class="d-flex justify-content-center">
                {{ form_row(editMenuForm.submit, {'attr': {'class': 'btn btn-secondary my-3'}}) }}
                {% if editMenuForm.vars.data.id is defined %}
                <button type="button"
                        class="btn btn-danger ms-2 my-3"
                        data-controller="menu-edition"
                        data-menu-edition-id-value="{{ editMenuForm.vars.data.id }}"
                        data-action="click->menu-edition#removeMenu"
                >Supprimer</button>
                {% endif %}
            </div>
            {{ form_row(editMenuForm._token)}}
        </div>
    </div>
</form>