{% extends 'base.html.twig' %}

{% block title %}Hello BusinessHoursUpdateController!{% endblock %}

{% block body %}
    <div>
    <h3>Horaires d'ouverture</h3>
    {% for key, hours in weeklyBusinessHours %}
        {{ key }} :
        {% for hour in hours %}
            {% if not hour.0 %}
                fermé
            {% else %}
                {{ hour.0 }} - {{ hour.1}}
            {% endif %}
        {% endfor%}
        <br>
    {% endfor %}
    </div>

    <div>
        {{ form_start(BusinessHoursUpdate) }}

        {# Version sans Stimulus

        <ul class="BusinessHoursUpdate"
            data-index="{{ BusinessHoursUpdate.BusinessHoursFormType|length > 0 ? BusinessHoursUpdate|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(BusinessHoursUpdate.BusinessHoursFormType.vars.prototype)|e('html_attr') }}"
        ></ul>
        <button type="button" class="add_item_link" data-collection-holder-class="BusinessHoursUpdate">Ajouter</button>
        #}

        <div {{ stimulus_controller('form-collection') }}
                data-form-collection-index-value="{{ BusinessHoursUpdate.BusinessHoursFormType|length > 0 ? BusinessHoursUpdate.BusinessHoursFormType|last.vars.name + 1 : 0 }}"
                data-form-collection-prototype-value="{{ form_widget(BusinessHoursUpdate.BusinessHoursFormType.vars.prototype)|e('html_attr') }}"
        >
            <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
            <div>
                <label for="isClosed">fermé pour la journée</label>
                <input type="checkbox" id="isClosed" name="isClosed">
            </div>
            <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>Ajouter</button>
        </div>

        {{ form_end(BusinessHoursUpdate) }}
    </div>

{% endblock %}
