{% extends 'base.html.twig' %}

{% block title %}Hello LeRestaurantController!{% endblock %}

{% block body %}
    <div class="container">
        <section id="concept" class="my-5">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-auto d-flex flex-column">
                            <div class="mb-auto">
                            <img src="{{ asset('images/restaurant/michael-wave-CYnQUywzBtI-unsplash.webp') | imagine_filter('thumb_200') }}"
                                 alt="chef working in kitchen">
                            </div>
                            <div>
                            <img src="{{ asset('images/restaurant/alev-takil-3sytdivac7w-unsplash.webp') | imagine_filter('thumb_200') }}"
                                 alt="bar picture" class="">
                            </div>
                        </div>
                        <div class="col-auto d-flex" >
                            <img src="{{ asset('images/restaurant/pexels-yente-van-eynde-2403391.webp') | imagine_filter('thumb_300') }}"
                                 alt="close up of chef working on a meal"
                                 height="300" width="200">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h3>Notre concept</h3>
                    <p>Ultricies mi quis hendrerit dolor magna eget est. Ut pharetra sit amet aliquam id diam maecenas ultricies.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Pellentesque dignissim enim sit amet venenatis.
                        Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse.</p>
                </div>
            </div>
        </section>
        <section id="chef" class="my-5">
            <div class="row my-3">
                <div class="col">
                    <h3>Le chef</h3>
                    <p>Tortor id aliquet lectus proin nibh nisl condimentum id. Molestie at elementum eu facilisis sed odio morbi.
                        Id diam vel quam elementum pulvinar etiam non quam lacus. Venenatis tellus in metus vulputate eu..</p>
                </div>
                <div class="col"><img src="{{ asset('images/restaurant/louis-hansel-v3olbe6-fhu-unsplash.webp') | imagine_filter('medium_400') }}" alt="bar picture"></div>
            </div>
        </section>
        <section id="equipe" class="my-5">
            <div class="row my-3">
                    <div class="col d-flex">
                        <img src="{{ asset('images/restaurant/pexels-filip-rankovic-grobgaard-12276390.webp') | imagine_filter('thumb_300') }}"
                             alt="l'hôte d'accueil" >
                        <div class="ms-3">
                            <h3>Votre hôte d'accueil</h3>
                            <p>Commodo viverra maecenas accumsan lacus vel. Sapien et ligula ullamcorper malesuada proin libero nunc.</p>
                        </div>
                    </div>
                <div class="col">
                    <div class="">
                        <img src="{{ asset('images/restaurant/monica-di-loxley-FDsvtPK6pwI-unsplash.webp') | imagine_filter('thumb_300') }}"
                             alt="la sommelière" >
                    </div>
                    <div class="my-3">
                        <h3>Votre sommelière</h3>
                        <p>Eu tincidunt tortor aliquam nulla facilisi cras. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Odio eu feugiat pretium nibh.</p>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col"></div>
                <div class="col">
                    <img height="300">
                </div>
            </div>
        </section>
    </div>
{% endblock %}
