{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block body %}
<div class="w-100 h-100 d-flex">
    {{ include('fragments/layout/_admin_sidebar.html.twig')}}
    <div id="contentWrapper" class="container">
        <div class="bg-secondary w-100 h-25 p-3">
            <h1 class="text-danger">Panneau d'administration</h1>
            <h3>votre email: {{ app.user.email }}</h3>
            <h3>votre rôle: {{ app.user.roles | join }}</h3>
        </div>
        <div>
            <a href="{{ path('app_business_hours_update') }}">
                <div id="businessHours" class="p-3 bg-light">
                    <h2>Horaires d'ouverture</h2>
                    {% for key, hours in formatted_weekly_schedule %}
                        <div>
                            {{ key }} :
                            {% if hours.0|first is not null %}
                                {% for hour in hours %}
                                    {{ hour.0 }} - {{ hour.1 }}
                                {% endfor %}
                            {% else %}
                                fermé
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
