{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 800px; width: 95%;  }
</style>

<div class="example-wrapper w-100 m-auto p-3 bg-secondary ">
    <h1 class="text-danger">Panneau d'administration</h1>

    <h3>votre email: {{  app.user.email }}</h3>
    <h3>votre rôle: {{ app.user.roles | join }}</h3>
    <div id="businessHours">
    <h2>Horaires d'ouverture</h2>
    {% for key, hours in formatted_weekly_schedule %}
        {{ key }} :
        {% for hour in hours %}
            {% if not hour.1 %}
              fermé
            {% else %}
                {{ hour.0 }} - {{ hour.1}}
            {% endif %}
        {% endfor%}
        <button>modifier</button>
        <br>
    {% endfor %}
    </div>
</div>
{% endblock %}
