{% extends 'base.html.twig' %}

{% block title %}Préferences Admin{% endblock %}

{% block sidebar %}
    {% include('fragments/layout/_admin_sidebar.html.twig')%}
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <form name="{{ field_name(preferences) }}" method="post"  data-controller="admin-preferences">
                <h1 class="text-center my-3 h3">Préférences</h1>
                <div class="my-4">
                    <h2 class="h4">Mes identifiants</h2>
                    <div>
                        <ul>
                            {% for error in preferences.vars.errors %}
                            <li class="form-text text-danger">{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="my-3">
                        {{ form_label(preferences.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(preferences.email, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(preferences.newPassword, 'Nouveau mot de passe',{
                                'label_attr' : {'class': 'form-label'}
                            }) }}
                            {{ form_widget(preferences.newPassword, {
                                'attr': {
                                    'data-action': 'keyup->admin-preferences#passwordValidation',
                                    'class': 'form-control'
                                }})}}
                            <div id="password_errors" class="form-text ms-2"></div>
                        </div>
                        <div class="col">
                            {{ form_label(preferences.newPasswordConfirmation, 'Confirmer le mot de passe', {
                                'label_attr' : {'class': 'form-label'}
                            }) }}
                            {{ form_widget(preferences.newPasswordConfirmation, {
                                'attr': {
                                    'data-action' : 'keyup->admin-preferences#passwordCheck',
                                    'class': 'form-control',
                                }}) }}
                            <div id="password_confirmation_errors" class="form-text ms-2"></div>
                        </div>
                    </div>
                </div>
                {{ form_row(preferences._token)}}
                <div class="d-flex justify-content-center">
                    {{ form_row(preferences.submit, {
                        'label': 'Enregister',
                        'attr': {'class': 'btn btn-secondary my-3'}}) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}